/* колір заголовків  #212121  */
/* акцент #212121 */
/* колір абзаців #757575 */
/* біли колір тексту #FFFFFF */
/* колір акцент #2196F3 */
/* колір лого-1 #2196F3 */
/* колір лого-2  #000000 */
/* колір лого бордер #000000 */
/* колір фону #F5F5F5 */
/* вторічний колір фону #2F303A */
/* колір бордеру у хедері #ECECEC */
/* колір соцмереж #AFB1B8 */
/*  */

:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --primary-bcg-color: #F5F5F5;
    --secondary-bcg-color: #2F303A;
    --third-bcg-color: #F5F4FA;
    --primary-white-color: #FFFFFF;
    --border-color: #ECECEC;
    --border-cards-color: #EEEEEE;
    --icon-color: #AFB1B8;

}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.page-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}
.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--logo-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo span {
    color: var(--accent-color);
}

.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .item + .item {
    margin-left: 50px;
}
.site-nav .link {
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .item {
    position: relative;
}
.link.current::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 28px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.contacts-list {
    display: flex;
    margin-left: auto;
       }
 .contacts-item .contacts:last-child {
    margin-left: 40px;
}
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color); 
}
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}
.cotacts-icon {
    fill: currentColor;
}
.contacts-icon:hover,
.contacts-icon:focus {
    fill: var(--accent-color);
}
.section {
    padding: 94px 0;
}

/* герой */
.overlay {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero {
        text-align: center;
        padding: 200px 0;
}
.hero-title{
    margin: 0 auto 30px;
    max-width: 696px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    }
.button {
    padding: 0;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
}
.hero .button {
    display: inline-block;
    min-width: 200px;
    padding: 8px 24px;
}
/* переваги */

.list.advantadges {
    display: flex;
    gap: 30px;
}
.item-advantadges {
    width: 270px;
}
div.icon {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--third-bcg-color);
    border-radius: 4px;
}
    
/* секція діяльність */

.section.activity {
    padding-top: 0;
}
.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-color);
}
.section-subtitle {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-color);
}
.section-text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.7;
    }
.list.images {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}
.item-images {
    width: 370px;
   }

.section-team {
    margin-top: 32px;
    background-color: var(--third-bcg-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    }
.list.team {
    display: flex;
    margin-top: 50px;
    text-align: center;
    gap: 30px;
}
.team {
    width: 270px;
    background-color: var(--primary-white-color);
    border-bottom: 1px solid var(--border-cards-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-member {
    color: var(--title-color);
    font-weight: 500;  
    margin-bottom: 9px; 
}
.team-content {
    padding: 30px 10px;
}
.team-member {
    font-weight: 500;
}
.team-social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    gap: 10px;
}
.social-item {
    border-radius: 50%;
}
.social-item:hover,
.social-item:focus {
    background-color: var(--accent-color);
}
.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
}
.social-link:hover {
    fill: var(--primary-white-color)
}
/* клієнти */
.clients-set {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}
.clients-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    margin-top: 50px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: var(--icon-color);
}
.clients-item:hover,
.clients-item:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

/*Футер  */
.footer {
    background-color: var(--secondary-bcg-color);
    } 
.footer.container {
    display: flex;
    
    }
.footer-address {
    padding: 60px 0;
}
.footer .logo {
    color: var(--primary-white-color);
}
.footer.list {
    margin-top: 28px;
}
.footer-item {
    margin-top: 12px;
}
.footer-item:first-child {
    margin-top: 0;
}
.address {
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    color: var(--primary-white-color);
    text-decoration: none;
}
.address:hover,
.address:focus {
    color: var(--accent-color);
}
.footer-social {
    padding-top: 72px;
    padding-left: 70px;
  
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}
.footer-text {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}
.social-link-footer {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-white-color);
}
/* portfolio */
.filter.list {
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.button.filter {
    background-color: var(--third-bcg-color);
    color: var(--title-color);
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
.button.filter:hover,
.button.filter:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
    background-color: var(--primary-white-color);
}

.filter-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.filter-item  {
    flex-basis: calc((100% - 60px)/3);
    border-bottom: 1px solid var(--border-cards-color);
}
.filter-item:hover,
.filter-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.filter.title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}
.filter.text {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.9;
}
.filter-content {
    padding: 20px 24px;
}